<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gagechaeum.backend.user.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.gagechaeum.backend.user.domain.User">
        <id property="userId" column="user_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="createdAt" column="created_at"/>
        <result property="social" column="social"/>
        <result property="socialId" column="social_id"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="isVerified" column="is_verified"/>
    </resultMap>

    <insert id="save" parameterType="com.gagechaeum.backend.user.domain.User"
            useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (
            email, password, nickname, name, phone, created_at,
            social, social_id, deleted_at, notification, profile_image_key, is_verified
        ) VALUES (
                     #{email}, #{password}, #{nickname}, #{name}, #{phone}, #{createdAt},
                     #{social}, #{socialId}, #{deletedAt}, #{notification}, #{profileImageKey}, #{isVerified}
                 )
    </insert>


    <update id="updatePassword" parameterType="com.gagechaeum.backend.user.domain.User">
        UPDATE users
        SET password = #{password}
        WHERE user_id = #{userId}
    </update>

    <update id="resetPassword" parameterType="com.gagechaeum.backend.user.domain.User">
        UPDATE users
        SET password = #{password}
        WHERE user_id = #{userId}
    </update>


    <update id="updateIsVerifiedByEmail">
        UPDATE users
        SET is_verified = #{isVerified}
        WHERE email = #{email}
    </update>

    <update id="updateDeletedAt">
        UPDATE users
        SET deleted_at = NOW()
        WHERE user_id=#{id}
    </update>

    <update id="updateSocial">
        UPDATE users
        SET name=#{name}
        WHERE social_id=#{socialId}
    </update>

    <update id="updateNotification">
        UPDATE users
        SET notification=#{notification}
        WHERE user_id=#{id}
    </update>

    <update id="updateUser">
        UPDATE users
        SET phone=#{req.phone}, nickname=#{req.nickname}
        WHERE user_id=#{id}
    </update>

    <select id="findByEmail" parameterType="String" resultMap="userResultMap">
        SELECT *
        FROM users
        WHERE email = #{email}
          AND deleted_at IS NULL
    </select>

    <select id="findNicknameById" parameterType="long" resultType="java.lang.String">
        SELECT nickname
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="selectIsVerifiedByEmail" parameterType="String" resultType="java.lang.Boolean">
        SELECT is_verified
        FROM users
        WHERE email = #{email}
    </select>

    <select id="findIsNickname" resultType="boolean">
        SELECT EXISTS (
                   SELECT 1
                   FROM users
                   WHERE nickname=#{nickname}
        )
    </select>

    <select id="findBySocialId" resultType="com.gagechaeum.backend.user.domain.User">
        SELECT *
        FROM users
        WHERE social = #{social} AND social_id = #{socialId}
    </select>


    <!-- profile image -->
        <select id="findProfileImageKeyById" parameterType="long" resultType="java.lang.String">
            SELECT profile_image_key
            FROM users
            WHERE user_id = #{id}
        </select>

        <update id="updateProfileImageKey">
            UPDATE users
            SET profile_image_key = #{profileImageKey}
            WHERE user_id = #{userId}
        </update>
</mapper>