<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gagechaeum.backend.chat.mapper.ChatMapper">

    <insert id="insert">
        INSERT INTO user_chat_rooms (user_id, room_id)
        VALUES (#{userId}, #{roomId})
        ON DUPLICATE KEY UPDATE
          user_id = user_id;
    </insert>

    <insert id="createPolicyChatRoom">
        INSERT INTO chat_rooms (room_type, policy_id)
        VALUES ('policy', #{policyId})
    </insert>

  <insert
    id="insertMessage"
    parameterType="ChatMessageDto"
    useGeneratedKeys="true"
    keyProperty="messageDto.messageId"
  >
    INSERT INTO chat_messages (room_id, user_id, content, created_at)
    VALUES (
            #{messageDto.roomId},
            #{messageDto.userId},
            #{messageDto.content},
            #{messageDto.sentAt}
           )
  </insert>

  <insert id="insertAttachments" parameterType="java.util.List">
    INSERT INTO chat_attachments (message_id, file_key, file_name, file_type)
    VALUES
    <foreach collection="attachments" item="item" separator=",">
        (
             #{messageId},
             #{item.key},
             #{item.name},
             #{item.type}
         )
    </foreach>
  </insert>

  <select id="existByUserIdAndRoomId" resultType="boolean">
    SELECT COUNT(*)
    FROM user_chat_rooms
    WHERE user_id = #{userId} AND room_id = #{roomId}
  </select>

  <select id="getChatRooms" resultType="ChatRoomSummaryDto">
    SELECT
      cr.room_id,
      cr.room_type,
      CASE cr.room_type
        WHEN 'industry' THEN i.name
        WHEN 'region' THEN r.name
        WHEN 'loan' THEN l.product_name
        WHEN 'policy' THEN p.policy_name
        END AS name
    FROM chat_rooms cr
    LEFT JOIN industry i ON cr.industry_id = i.industry_id
    LEFT JOIN regions r ON cr.region_id = r.region_id
    LEFT JOIN loans l ON cr.loan_id = l.loan_id
    LEFT JOIN policies p ON cr.policy_id = p.policy_id
    <where>
      <if test="type != 'all'">
        cr.room_type = #{type}
      </if>
    </where>
  </select>

  <select id="getUserChatRooms" resultType="UserChatRoomSummaryDto">
    SELECT
        cr.room_id,
        cr.room_type,
        CASE cr.room_type
            WHEN 'industry' THEN i.name
            WHEN 'region' THEN r.name
            WHEN 'loan' THEN l.product_name
            WHEN 'policy' THEN p.policy_name
            ELSE NULL
        END AS name,
        (SELECT content
            FROM chat_messages
            WHERE room_id = cr.room_id
            ORDER BY created_at DESC
            LIMIT 1
        ) AS lastMessage,
        (SELECT created_at
            FROM chat_messages
            WHERE room_id = cr.room_id
            ORDER BY created_at DESC
            LIMIT 1
        ) AS lastMessageDate,
        uc.last_left_at,
        (SELECT COUNT(*)
            FROM chat_messages cm
            WHERE cm.room_id = uc.room_id
            AND cm.created_at > uc.last_left_at
        ) AS unreadCount
    FROM user_chat_rooms uc
    LEFT JOIN chat_rooms cr ON uc.room_id = cr.room_id
    LEFT JOIN industry i ON cr.industry_id = i.industry_id
    LEFT JOIN regions r ON cr.region_id = r.region_id
    LEFT JOIN loans l ON cr.loan_id = l.loan_id
    LEFT JOIN policies p ON cr.policy_id = p.policy_id
    <where>
        uc.user_id = #{userId}
        <if test="type != 'all'">
            AND cr.room_type = #{type}
        </if>
    </where>
  </select>

  <select id="getChatRoomDetailsByPolicyId" resultType="ChatRoomSummaryDto">
    SELECT
      cr.room_id,
      cr.room_type,
      p.policy_name AS name
    FROM chat_rooms cr
        JOIN policies p
            ON cr.policy_id = p.policy_id
    WHERE cr.policy_id = #{policyId}
  </select>

  <select id="getChatRoomDetailsByLoanId" resultType="ChatRoomSummaryDto">
    SELECT
      cr.room_id,
      cr.room_type,
      l.product_name AS name
    FROM chat_rooms cr
        JOIN loans l
            ON cr.loan_id = l.loan_id
    WHERE cr.loan_id = #{loanId}
  </select>
    
    <resultMap id="chatMessageResultMap" type="ChatHistoryMessageDto">
        <id property="messageId" column="message_id"/>
        <result property="profileImageKey" column="profile_image_key"/>
        <result property="nickname" column="nickname"/>
        <result property="message" column="content"/>
        <result property="sentAt" column="created_at"/>
        <collection property="files" ofType="UploadedAttachmentDto">
          <id property="key" column="file_key"/>
          <result property="name" column="file_name"/>
          <result property="type" column="file_type"/>
        </collection>
    </resultMap>

    <select id="getChatRoomHistoryByRoomId" resultMap="chatMessageResultMap">
        SELECT
            cm.message_id,
            u.profile_image_key,
            u.nickname,
            cm.content,
            cm.created_at,
            ca.file_key,
            ca.file_name,
            ca.file_type
        FROM chat_messages cm
        LEFT JOIN users u ON cm.user_id = u.user_id
        LEFT JOIN chat_attachments ca ON cm.message_id = ca.message_id
        <where>
            cm.room_id = #{roomId}
            <if test="requestDto.since != null">
                AND cm.created_at &gt;= #{requestDto.since}
            </if>
        </where>
        ORDER BY cm.created_at ASC

        LIMIT #{requestDto.size} OFFSET #{requestDto.offset}
    </select>

    <update id="updateLastLeftAt">
        UPDATE user_chat_rooms
        SET last_left_at = NOW()
        WHERE user_id = #{userId} AND room_id = #{roomId};
    </update>

    <delete id="deleteByRoomIdAndUserId">
        DELETE FROM user_chat_rooms
        WHERE user_id = #{userId} AND room_id = #{roomId};
    </delete>

</mapper>
