<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gagechaeum.backend.policy.mapper.PolicyMapper">

    <resultMap id="StructuredDocumentResultMap" type="com.gagechaeum.backend.policy.dto.response.PolicyDocumentsResponseDTO$StructuredDocumentDTO">
        <result property="documentName" column="documentName"/>
        <result property="possessionStatus" column="possessionStatus"/>
        <result property="issuingUrl" column="issuingUrl"/>
    </resultMap>

  <select
    id="getPolicyList"
    parameterType="PolicyListRequestDto"
    resultType="PolicySummaryDto">
      SELECT
        p.policy_id,
        p.industry_id,
        p.region_id,
        p.policy_name,
        p.supervising_organization_name,
        p.notice_date,
        p.modification_date,
        p.begin_date,
        p.end_date,
        COALESCE(pbc.bookmark_count, 0) AS bookmarkCount
    FROM policies p
    LEFT JOIN policy_bookmark_counts pbc ON p.policy_id = pbc.policy_id
    <where>
      <if test="requestDto.industryId != null">
        p.industry_id = #{requestDto.industryId}
      </if>
    </where>
    ORDER BY p.begin_date DESC
      LIMIT #{requestDto.size} OFFSET #{requestDto.offset}
  </select>

    <select id="findRecommendedPoliciesByUserId" resultType="com.gagechaeum.backend.policy.domain.Policy">
        SELECT
            p.*,
            -- 사용자의 업종에 맞는 스크랩 수를 가져오고, 없으면 0으로 표시
            COALESCE(psc.scrap_count, 0) AS bookmarkCount
        FROM
            policies p
                JOIN
            business_info bi ON bi.user_id = #{userId}
                LEFT JOIN
                policy_scrap_counts psc ON p.policy_id = psc.policy_id AND bi.industry_id = psc.industry_id
        WHERE
            (p.region_id IS NULL OR p.region_id = bi.region_id)
          AND
            (p.industry_id IS NULL OR p.industry_id = bi.industry_id)
        ORDER BY
            bookmarkCount DESC, p.end_date DESC
    </select>

    <insert id="saveOrUpdatePolicy" parameterType="com.gagechaeum.backend.policy.domain.Policy">
        INSERT INTO policies (
            policy_id, user_type, policy_field, policy_name, policy_summary, department_name, supervising_organization_name,
            announcement_url, support_detail, selection_criteria, application_period, begin_date, end_date, notice_date, modification_date, application_method, contact, support_target
        ) VALUES (
                     #{policyId}, #{userType}, #{policyField}, #{policyName}, #{policySummary}, #{departmentName}, #{supervisingOrganizationName},
                     #{announcementUrl}, #{supportDetail}, #{selectionCriteria}, #{applicationPeriod}, #{beginDate}, #{endDate}, #{noticeDate}, #{modificationDate}, #{applicationMethod}, #{contact}, #{supportTarget}
                 )
            ON DUPLICATE KEY UPDATE
                                 user_type = VALUES(user_type),
                                 policy_field = VALUES(policy_field),
                                 policy_name = VALUES(policy_name),
                                 policy_summary = VALUES(policy_summary),
                                 department_name = VALUES(department_name),
                                 announcement_url = VALUES(announcement_url),
                                 support_detail = VALUES(support_detail),
                                 selection_criteria = VALUES(selection_criteria),
                                 application_period = VALUES(application_period),
                                 begin_date = VALUES(begin_date),
                                 end_date = VALUES(end_date),
                                 notice_date = VALUES(notice_date),
                                 modification_date = VALUES(modification_date),
                                 application_method = VALUES(application_method),
                                 contact = VALUES(contact),
                                 support_target = VALUES(support_target)
    </insert>

    <select id="findBookmarkCountsByPolicyIds" resultType="map">
        SELECT
        policy_id,
        scrap_count AS bookmarkCount
        FROM
        policy_scrap_counts
        WHERE
        policy_id IN
        <foreach item="id" collection="policyIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getPolicyById" resultType="Policy">
      SELECT *
      FROM policies
      WHERE policy_id = #{policyId}
    </select>

    <select id="findAllDocumentsWithKeywords" resultType="com.gagechaeum.backend.policy.dto.DocumentKeywordDTO">
        SELECT
            document_id as documentId,
            document_name as documentName,
            keywords
        FROM
            documents
        WHERE
            keywords IS NOT NULL
    </select>

    <delete id="deleteRequiredDocumentsByPolicyId" parameterType="string">
        DELETE FROM required_documents
        WHERE policy_id = #{policyId}
    </delete>

    <insert id="insertRequiredDocument">
        INSERT INTO required_documents (policy_id, document_id)
        VALUES (#{policyId}, #{documentId})
    </insert>

    <select id="findStructuredDocumentsByPolicyId" resultMap="StructuredDocumentResultMap">
        SELECT
            d.document_name AS documentName,
            d.issuing_authority_url AS issuingUrl,
            (CASE WHEN EXISTS (SELECT 1 FROM user_documents ud WHERE ud.document_id = d.document_id AND ud.user_id = #{userId})
                THEN '보유'
                ELSE '미보유'
            END) AS possessionStatus
        FROM
            documents d
        JOIN
            required_documents rd ON d.document_id = rd.document_id
        WHERE
            rd.policy_id = #{policyId}
    </select>

    <select id="findAllPolicyIdsWithModificationDate" resultType="com.gagechaeum.backend.policy.domain.Policy">
        SELECT policy_id, modification_date
        FROM policies
    </select>

    <select id="findAllPolicies" resultType="com.gagechaeum.backend.policy.domain.Policy">
        SELECT *
        FROM policies
    </select>

    <update id="updatePoliciesFromTempTable">
        UPDATE policies p
            JOIN policy_details_temp t ON p.policy_id = t.policy_id
    </update>

    <insert id="saveOrUpdateTempPolicyDetail">
        INSERT INTO policy_details_temp (policy_id, raw_text, updated_at)
        VALUES (#{policyId}, #{rawText}, #{updatedAt})
            ON DUPLICATE KEY UPDATE
                                 raw_text = VALUES(raw_text),
                                 updated_at = VALUES(updated_at)
    </insert>

</mapper>