<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gagechaeum.backend.loan.mapper.LoanMapper">

    <select
      id="getLoanList"
      parameterType="LoanListRequestDto"
      resultType="LoanSummaryDto">
        SELECT
            l.loan_id,
            l.industry_id,
            l.region_id,
            l.company_name,
            l.product_name,
            l.begin_date,
            l.end_date,
            l.min_limit,
            l.max_limit,
            l.basic_rate,
            <include refid="rateRangeSelect"/>,
            COALESCE(lbc.bookmark_count, 0) AS bookmarkCount
        FROM loans l
            LEFT JOIN rates r ON l.loan_id = r.loan_id
            LEFT JOIN loan_bookmark_counts lbc ON l.loan_id = lbc.loan_id
        <where>
            <if test="requestDto.industryId != null">
                l.industry_id = #{requestDto.industryId}
            </if>
            AND r.rate_type = '대출금리'
        </where>
        GROUP BY
            l.loan_id,
            l.industry_id,
            l.region_id,
            l.company_name,
            l.product_name,
            l.begin_date,
            l.end_date,
            l.min_limit,
            l.max_limit,
            l.basic_rate,
            lbc.bookmark_count
        ORDER BY l.begin_date DESC
            LIMIT #{requestDto.size} OFFSET #{requestDto.offset}
    </select>

    <sql id="rateRangeSelect">
        NULLIF(
            MIN(
                LEAST(
                    COALESCE(r.rate_range1, 999.99),
                    COALESCE(r.rate_range2, 999.99),
                    COALESCE(r.rate_range3, 999.99),
                    COALESCE(r.rate_range4, 999.99),
                    COALESCE(r.rate_range5, 999.99),
                    COALESCE(r.rate_range6, 999.99),
                    COALESCE(r.rate_range7, 999.99),
                    COALESCE(r.rate_range8, 999.99)
                )
            ), 999.99
         ) AS minRate,
        NULLIF(
            MAX(
                GREATEST(
                    COALESCE(r.rate_range1, 0),
                    COALESCE(r.rate_range2, 0),
                    COALESCE(r.rate_range3, 0),
                    COALESCE(r.rate_range4, 0),
                    COALESCE(r.rate_range5, 0),
                    COALESCE(r.rate_range6, 0),
                    COALESCE(r.rate_range7, 0),
                    COALESCE(r.rate_range8, 0)
                )
            ), 0
        ) AS maxRate
    </sql>

    <select id="findRecommendedLoansByUserId" resultType="com.gagechaeum.backend.loan.domain.Loan" parameterType="long">
        SELECT
            l.loan_id AS loanId,
            l.industry_id AS industryId,
            l.region_id AS regionId,
            l.company_name AS companyName,
            l.product_name AS productName,
            l.join_way AS joinWay,
            l.begin_date AS beginDate,
            l.end_date AS endDate,
            l.product_page_url AS productPageUrl,
            l.min_limit AS minLimit,
            l.max_limit AS maxLimit,
            l.basic_rate AS basicRate,
            COALESCE(lsc.scrap_count, 0) AS bookmarkCount
        FROM
            loans l
                INNER JOIN business_info bi ON bi.user_id = #{userId}
                LEFT JOIN loan_scrap_counts lsc ON l.loan_id = lsc.loan_id
        WHERE
            (l.region_id IS NULL OR l.region_id = bi.region_id)
          AND
            (l.industry_id IS NULL OR l.industry_id = bi.industry_id)
        ORDER BY
            bookmarkCount DESC, l.basic_rate ASC -- 즐겨찾기 많은 순, 같다면 금리 낮은 순
    </select>

    <select id="getLoanById" resultType="LoanDetailResponseDto">
        SELECT *
        FROM loans
        WHERE loan_id = #{loanId}
    </select>

    <select id="getRatesByLoanId" resultType="RateDto">
        SELECT
            rate_id, rate_type, average_rate,
            rate_range1, rate_range2, rate_range3, rate_range4,
            rate_range5, rate_range6, rate_range7, rate_range8
        FROM rates
        WHERE loan_id = #{loanId}
    </select>

    <insert id="linkLoan">
        INSERT INTO user_loans (user_id, loan_id, collect_data, account_num, product_name, account_type, issue_date, expiry_date, last_offered_rate, repay_date, repay_method, repay_organization, repay_account_num, balance_amount, loan_principal, next_repay_date, loan_organization)
        VALUES (
                   1,
                   10,
                   NOW(),
                   '222-333-101010',
                   'KB 유망분야 성장기업 우대대출',
                   '영업점',
                   '2025-08-18',
                   '2035-08-18',
                   2.67,
                   '2025-09-18',
                   '원리금균등분할상환',
                   '국민은행',
                   '222-333-101010',
                   148000000,
                   150000000,
                   '2025-09-19',
                   '국민은행'
               );
    </insert>

</mapper>