<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gagechaeum.backend.recommendation.mapper.RecommendationMapper">

    <select id="findRecommendedPoliciesByUserId" resultType="com.gagechaeum.backend.recommendation.domain.Policy" parameterType="long">
        SELECT
            p.policy_id AS policyId,
            p.policy_name AS policyName,
            p.policy_summary AS policySummary,
            p.department_name AS departmentName,
            p.begin_date AS beginDate,
            p.end_date AS endDate
        FROM
            policies p, business_info bi
        WHERE
            bi.user_id = #{userId}
          AND (
            (p.region_id IS NULL AND p.industry_id IS NULL) -- 전국/전업종 대상인 경우 (기존의 support_target 대체)
                OR p.region_id = bi.region_id      -- 정책의 지역과 사용자의 지역이 일치하는 경우
                OR p.industry_id = bi.industry_id  -- 정책의 업종과 사용자의 업종이 일치하는 경우
            )
        ORDER BY
            p.end_date ASC
    </select>

</mapper>