<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gagechaeum.backend.recommendation.mapper.RecommendationMapper">

    <select id="findRecommendedPoliciesByUserId" resultType="com.gagechaeum.backend.recommendation.domain.Policy" parameterType="long">
        SELECT
            p.policy_id AS policyId,
            p.policy_name AS policyName,
            p.policy_summary AS policySummary,
            p.department_name AS departmentName,
            p.begin_date AS beginDate,
            p.end_date AS endDate,
            COALESCE(psc.scrap_count, 0) AS bookmarkCount
        FROM
            policies p
                INNER JOIN business_info bi ON bi.user_id = #{userId}
                LEFT JOIN policy_scrap_counts psc ON p.policy_id = psc.policy_id
        WHERE
            (p.region_id IS NULL AND p.industry_id IS NULL)
           OR p.region_id = bi.region_id
           OR p.industry_id = bi.industry_id
        ORDER BY
            bookmarkCount DESC, p.end_date ASC
    </select>

</mapper>